{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}


{% block main-content %}
    <!-- Hero Section -->
    <div class="relative bg-white overflow-hidden" id="hero-section"> 
        <div class="max-w-7xl mx-auto">
            <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
                <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
                    fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <polygon points="50,0 100,0 50,100 0,100" />
                </svg>

                <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                    <div class="sm:text-center lg:text-left">
                        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                            {% if request.user.is_authenticated %}<span class="block lg:inline text-red-500">Welcome {{ request.user|capfirst }}</span>{% endif %}
                            <span class="block xl:inline">Discover the Best</span>
                            <span class="block text-indigo-600 xl:inline">Deals</span>
                            
                        </h1>
                        <p
                            class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                            Shop the latest products at unbeatable prices and enjoy exclusive offers.</p>
                        <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                            <div class="rounded-md shadow">
                                <a href="{% url 'shop-all' %}"
                                    class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
                                    Shop Now </a>
                            </div>
                            <div class="mt-3 sm:mt-0 sm:ml-3">
                                <a href="{% url 'policy' %}"
                                    class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10">
                                    Privacy Policy & Terms </a>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="{% static '/frontpage_images/workflow-design.jpg' %}" alt="">
        </div>
    </div>

    <!-- Categories Section -->
    <div class="bg-gray-100 py-16">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-extrabold text-gray-900">Shop by Category</h2>
            <div class="mt-6 grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-4 xl:gap-x-8">
                <!-- Category Cards -->
                <div class="group relative">
                    <div class="w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75">
                        <img src="{% static 'category_images/mobile_category.jpg' %}" alt="Category 1"
                            class="w-full h-full object-center object-cover">
                    </div>
                    <h3 class="mt-4 text-lg font-medium text-gray-900">
                        <a href="{% url 'shop-mobile' %}">
                            <span class="absolute inset-0"></span>
                            Mobile
                        </a>
                    </h3>
                </div>

                <div class="group relative">
                    <div class="w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75">
                        <img src="{% static 'category_images/laptop_category.jpg' %}" alt="Category 2"
                            class="w-full h-full object-center object-cover">
                    </div>
                    <h3 class="mt-4 text-lg font-medium text-gray-900">
                        <a href="{% url 'shop-laptop' %}">
                            <span class="absolute inset-0"></span>
                            Laptops
                        </a>
                    </h3>
                </div>

                <div class="group relative">
                    <div class="w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75">
                        <img src="{% static 'category_images/headphones_category.jpg' %}" alt="Category 3"
                            class="w-full h-full object-center object-cover">
                    </div>
                    <h3 class="mt-4 text-lg font-medium text-gray-900">
                        <a href="{% url 'shop-headphone' %}">
                            <span class="absolute inset-0"></span>
                            Headphones
                        </a>
                    </h3>
                </div>

                <div class="group relative">
                    <div class="w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75">
                        <img src="{% static 'category_images/smartwatch_category.jpg' %}" alt="Category 4"
                            class="w-full h-full object-center object-cover">
                    </div>
                    <h3 class="mt-4 text-lg font-medium text-gray-900">
                        <a href="{% url 'shop-smartwatch' %}">
                            <span class="absolute inset-0"></span>
                            Smartwatches
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Products Section -->
    <div class="bg-white py-16">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-extrabold text-gray-900">Best Deals On Featured Products</h2>
            <div class="mt-6 grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-4 xl:gap-x-8">

                {% for item in items %}
                    <!-- Product Card -->
              <div class="bg-white shadow-lg rounded-lg max-w-xs md:max-w-md lg:max-w-lg overflow-hidden">
                <div class="relative">
                    <a href="/productDetails/{{item.id}}">
                  <img src="{{ item.highlight_product_image.url }}" alt="Product Image" class="w-full h-48 md:h-64 lg:h-80 object-cover">
            </a>
                {% if request.user.is_authenticated %}
                  <button class="wishlist-button absolute top-2 right-2 bg-white p-2 rounded-full shadow hover:bg-gray-200 transition" data-product-id="{{ item.id }}">
                    <svg id="wishlist-icon-{{ item.id }}" class="w-6 h-6 {% if request.user.is_authenticated and item.product_name in wishlist_item_list %}text-red-500{% else %}text-gray-400{% endif %}" fill="none" viewBox="0 0 24 24" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                    </svg>
                  </button>
                  {% endif %}
                </div>
                <div class="p-4">
                  <h3 class="text-gray-900 font-semibold text-lg md:text-xl">{{ item.product_name }}</h3>
                  <span class="text-red-500 font-bold text-md ml-5">up to {{item.total_discount|floatformat:2}}% off</span>
                  <p class="text-gray-600 mt-3 text-sm md:text-base">{{ item.description }}</p>
                  <div class="flex items-center justify-between mt-4">
                    <span class="text-gray-900 font-bold text-xl">${{ item.discounted_price }}</span>
                  </div>
                  <p class="text-gray-600 mt-3 text-sm md:text-base">By {{ item.manufactured_by }}</p>
                </div>
              </div>
                {% endfor %}
                
            </div>
        </div>
    </div>

    <script>
        /* function toggleWishlist(button) {
          const icon = button.querySelector('svg');
          icon.classList.toggle('fill-current');
          icon.classList.toggle('text-red-500');
          icon.classList.toggle('text-gray-400');
        }
         */
    $(document).ready(function(){

        function loadWishlist() {
            $.ajax({
                url: '{% url "home" %}',
                type: 'GET',
                success: function(data) {
                    $('#wishlist_items').html(data);
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        $('.wishlist-button').click(function(){

            const productId = $(this).data('product-id')
            console.log(productId)
            $.ajax({
              url: "{% url 'add_to_wishlist' %}",
              method: "GET",
              data: {
                'product_id': productId,
              },
              success: function(response) {
                const icon = $('#wishlist-icon-' + productId);
                if (response.added) {       
                    icon.addClass('text-red-500').removeClass('text-gray-400');
                    location.href = location.href;

                } else {
                  icon.addClass('text-gray-400').removeClass('text-red-500');
                  location.href = location.href;

                }
                // Optionally, you can also refresh the wishlist sidebar
              }
            });
        });
    });
          
      </script>
    
{% endblock %}


