{% extends 'base.html' %}
{% load static %}

{% block title %} Login Page {% endblock %}
{% block main-content %}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
  </div>

  {% if msg == 'success' or msg == 'error' %}
  <div id="messages-container-login" class="fixed bottom-0 right-0 p-6 space-y-4 z-50">
      <div class="bg-white border-l-4 p-4 rounded shadow-md transition transform duration-500 ease-in-out {{ msg }}">
        <div class="flex items-center" id="alert-message">
          {% if msg == 'error' %}
            <div class="text-red-500">
              <!-- Error Icon -->
              <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </div>
          <p class="text-sm">Sorry! Your Input Invalid Credentials</p>

          {% elif msg == 'success' %}
            <div class="text-green-500">
              <!-- Success Icon -->
              <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
              </svg>
            </div>
            <script>
              setTimeout(function(){
                window.location.href = '/contact' 
              },1100)
            </script>    
          <p class="text-sm">Congratulations ! Logged in SuccessFully</p>
          {% endif %}
        </div>
      </div>
  </div>
  
  <script>
  
      setTimeout(function() {
          const messagesContainer = document.getElementById('messages-container-login');
          if (messagesContainer) {
            messagesContainer.style.transition = 'opacity 0.5s ease-in-out';
            messagesContainer.style.opacity = '0';
            setTimeout(function() {
              messagesContainer.remove();
            }, 500); // Allow time for the fade-out transition before removing the element
            
          }
        }, 3000); // 3000 milliseconds = 3 seconds
      
  </script>
  {% endif %}
  

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" action="" method="POST">
      {% csrf_token %}
      <div>
      <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
      <div class="mt-2">
        <input id="email" name="username" type="text" autocomplete="current-username" required class="p-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <div>
      <div class="flex items-center justify-between">
        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
        <div class="text-sm">
          <a href="{% url 'password_reset' %}" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
        </div>
      </div>
      <div class="mt-2">
        <input id="password" name="password" type="password" autocomplete="current-password" required class="p-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

      <div>
        <button type="submit" class="flex w-full text-white justify-center items-center px-5 py-3 bg-indigo-600 text-gray-700 font-medium border border-gray-300 rounded-full shadow-md focus:outline-none focus:ring-4 focus:ring-blue-100">Sign in</button>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="mt-2 flex justify-center items-center px-5 py-3 bg-white text-gray-700 font-medium border border-gray-300 rounded-full shadow-md focus:outline-none focus:ring-4 focus:ring-blue-100">
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Logo_2013_Google.png" alt="Google logo" class="w-10 h-6 mr-3">
          Login with Google
        </a>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Start a 14 day free trial</a>
    </p>
  </div>
</div>


{% endblock %}